.HeadercontainerPartOne {
    background-color: #1f2937;
    padding: 40px;
    height: 400px;
}

.NavHeader{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HeaderLogo {
    size: 24px;
    color: #f9faf8;
    font-weight: 900;
    font-weight: bolder;
}

.ul {
    display: flex;
    list-style: none;
}

li{
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.TittleWebsite{
    max-width: 300px;
    height: 200px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.MainText {
    size: 48px;
    color: #f9faf8;
}

.secondaryText {
    size: 18px;
    color: #e5e7eb;
}

.signUpbutton {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    border-color: #3882f6;
}

.placeholder {
    width: 300;
    height: 300;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: image('Imagenes/ImagenPokemon.jpeg');
}


